* {
  padding: 0;
  margin: 0;
  font-family: 'Maven Pro', 'sans-serif','arial';
  box-sizing: border-box;
}
html {
  font-size: 20px;
}
body{
  background-color: #f0f2f8;
}


/* variables */
:root {
  --main-color: #fff;
  --main-bg-color: 25, 56, 138;
  --color1: 79, 145, 205;
  --color2: #1D2E71;
}

.a{
  text-decoration: none;
  color: var(--main-color);
}
.header{
  position: relative;
  left: 0;
  top:0;
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content:  space-between;
  background-color: rgb(var(--main-bg-color));
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  margin-left: 1rem;   
}
.title h1:hover,
  .title h1 :active{
    color: rgb(var(--color1));
  }
.title img {
  width: 5rem;
  margin-right: 2rem;
}
.nav{
  display: flex;
  align-items: center;
  justify-content:  space-between;
  height: 6rem;
  margin-right: 1rem; 
  cursor: pointer;
}
.nav a{
  text-decoration: none;
  color: var(--main-color);
  margin: 1rem;
  font-size: 1.1rem;
}
.nav a:hover,
.nav a :active{
  color: rgb(var(--color1));
}


.content{
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content h1{
  width: fit-content;
  border: 3px solid var(--color2);
  color: var(--color2);
  padding: .5rem;
}
.loading {
  color: var(--color2);
  border: 16px solid #f0f2f8; 
  border-top: 16px solid #1D2E71; 
  border-radius: 50%; width: 120px; 
  height: 120px; 
  animation: spin 2s infinite;
}
@keyframes spin {
   0% { 
    transform: rotate(0deg); 
  } 100% { 
    transform: rotate(360deg); 
  }
}

.container{
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
}
.box{
  width:45rem;
  background-color: #FAFBFC;
  border:3px solid var(--color2);
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mno{
  color: #1D2E71;
  font-weight: 600;
  margin-top: .5rem;
}
.matchscore{
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin-top: 1rem;
}
.team{
  display: flex;
  flex-direction: row;
}
.team img{
  width: 4rem;
  margin: 0 1rem;
}
.tscore{
  display: flex;
  flex-direction: column;
}
.mains{
  display: flex;
  align-items: center;
  font-size: 2.3rem;
  color: #1D2E71;
}
.overs{
  display: flex;
 justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  color: #1D2E71;
}
.state{
  font-size: 1.65rem;
  font-weight: 600;
  color: #1D2E71;
  margin-bottom: .75rem;
}
.box hr{
  width: 90%;
  height: 0.1rem;
  margin: .75rem 0;
}



.footer{
  position: relative;
  bottom:0;
  left:0;
  width: 100%;
  margin-top: 3rem;
  background-color: rgb(var(--main-bg-color));
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
#con{
  padding: 1rem 1rem;
  font-size: 1.75rem;
  color: #fff;
  text-align: center;
}
.fc{
  padding: .5rem 1rem;
  display: flex;
  justify-content: center;
}


.squad{
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.squad div{
  font-size: 1.2rem;
  margin: .5rem;
}
.squad div #roll{
  font-size: 1rem;
}


.social{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.social a{
  text-decoration: none;
  padding: .5rem;
  background-color: white;
  margin: .5rem;
  border-radius: 50%;
}
.social a i{
 font-size: 2em;
 color: rgb(var(--main-bg-color));
 opacity: 0.9;
}
.social a:hover{
  background-color: rgb(var(--main-bg-color));
  transition: 0.5s;
}
.social a:hover i{
  color: white;
  transition: 0.5s;

}
.cr{
  background-color: rgb(0, 0, 0, 1);
  border-bottom: 0.5px solid #fff;
  padding: .5rem;
  text-align: center; 
}
.cr #cpr{
  color: white;
}


@media screen and (max-width: 1200px) {
  html{
    font-size: 20px;
  }
  .container {
      max-width: 47rem;
  }
  .mains {
      font-size: 1.8rem;
  }
  .overs {
      font-size: 0.9rem;
  }
}

@media screen and (max-width: 990px) {
  html{
    font-size: 17px;
  }
  .title img {
      width: 4rem;
  }
  .mains {
      font-size: 1.6rem;
  }
  .overs {
      font-size: 0.8rem;
  }
  .container {
      max-width: 47rem;
  }
  .state{
    font-size: 1.5rem;
  }
  .mno{
    margin-top: 0.45rem;
  }
  .box hr{
    margin:.75rem 0;
  }
}

@media screen and (max-width: 800px) {
  html{
    font-size: 15px;
  }
  .title {
      flex-direction: column;
      align-items: center;
  }
  .title img {
      width: 3.5rem;
      margin-right: 0;
  }
  .content h1 {
      font-size: 1.4rem;
  }
  .box{
    max-width: 35rem;
    max-height:10rem;
  }
  .team img {
      width: 3rem;
  }
  .mains {
      font-size: 1.4rem;
  }
  .overs {
      font-size: 0.8rem;
  }
  .state{
    font-size: 1.3rem;
  }
  .mno{
    margin-top: 0.40rem;
  }
  .box hr{
    margin:.70rem 0;
  }
}

@media screen and (max-width: 600px) {
  html {
      font-size: 13px;
  }
  .content h1 {
      font-size: 1.2rem;
      padding: 0.4rem;
  }
  .box{
    max-width: 30rem;
    max-height: 9rem;
  }
  .team img {
      width: 2.5rem;
  }
  .mains {
      font-size: 1.2rem;
  }
  .state{
    font-size: 1.1rem;
  }
  .mno{
    margin-top: 0.35rem;
  }
  .box hr{
    margin:.65rem 0;
  }
}


@media screen and (max-width: 450px) {
  html {
      font-size: 10px;
  }
  .title img {
      width: 2.5rem;
  }
  .content h1 {
      font-size: 1rem;
      padding: 0.3rem;
  }
  .box{
    max-width: 30rem;
    max-height: 7rem;
  }
  .team img {
      width: 2rem;
  }
  .mains {
      font-size: 1rem;
  }
  .overs {
      font-size: 0.7rem;
  }
  .state{
    font-size: 0.9rem;
  }
  .mno{
    margin-top: 0.25rem;
  }
  .box hr{
    margin:.30rem 0;
  }
}
